<img
  class="w-40 mx-auto absolute transition-all ease-in -translate-x-1/2 left-1/2 group-hover:left-0 top-1/2 -translate-y-1/2 group-hover:translate-x-[100px] group-hover:rotate-[25deg]"
  src="{{ cards[6].imageUrl }}"
  alt="{{ cards[6].name }}"
/>
<img
  class="w-40 mx-auto absolute transition-all ease-in -translate-x-1/2 left-1/2 group-hover:left-0 top-1/2 -translate-y-1/2 group-hover:translate-x-[100px] group-hover:rotate-[20deg]"
  src="{{ cards[5].imageUrl }}"
  alt="{{ cards[5].name }}"
/>
<img
  class="w-40 mx-auto absolute transition-all ease-in -translate-x-1/2 left-1/2 group-hover:left-0 top-1/2 -translate-y-1/2 group-hover:translate-x-[100px] group-hover:rotate-[10deg]"
  src="{{ cards[4].imageUrl }}"
  alt="{{ cards[4].name }}"
/>
<img
  class="w-40 mx-auto absolute transition-all ease-in -translate-x-1/2 left-1/2 group-hover:left-0 top-1/2 -translate-y-1/2 group-hover:translate-x-24 group-hover:rotate-6"
  src="{{ cards[3].imageUrl }}"
  alt="{{ cards[3].name }}"
/>
<img
  class="w-40 mx-auto absolute transition-all ease-in -translate-x-1/2 left-1/2 group-hover:left-0 top-1/2 -translate-y-1/2 group-hover:translate-x-20 group-hover:rotate-3"
  src="{{ cards[2].imageUrl }}"
  alt="{{ cards[2].name }}"
/>
<img
  class="w-40 mx-auto absolute transition-all ease-in -translate-x-1/2 left-1/2 group-hover:left-0 top-1/2 -translate-y-1/2 group-hover:translate-x-12 group-hover:rotate-2"
  src="{{ cards[1].imageUrl }}"
  alt="{{ cards[1].name }}"
/>
<img
  class="w-40 mx-auto absolute transition-all ease-in -translate-x-1/2 left-1/2 group-hover:left-0 top-1/2 group-hover:translate-x-0 -translate-y-1/2 group-hover:-rotate-6"
  src="{{ cards[0].imageUrl }}"
  alt="{{ cards[0].name }}"
/>
